* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: "Exo 2", sans-serif;
}

.center {
    padding-left: calc(50% - 1270px / 2);
    padding-right: calc(50% - 1270px / 2);
}

/* Хэдер */
.header {
    background: #CACACA;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70px;
}

.header_menu {
    display: flex;
    gap: 108px;
    flex-wrap: wrap;
    flex-direction: center;
    justify-content: flex-start;
    align-items: center;
}

.header_menu_link {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    text-transform: lowercase;
    color: #0A0A0A;
    text-decoration: none;
    transition: 0.4s linear;
}

.header_menu_link:hover {
    color: #ff3c3c;
    transition: color 0.4s linear;
}

/* Главная */

.top {
    background-image: url(img/top3.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 800px;
    position: relative;
}

.top_heading {
    display: flex;
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
    padding-top: 590px;
    text-align: center;
    color: #F0F0F0;
    right: calc(50% - 1270px / 2);
    text-transform: uppercase;
    color: #F0F0F0;
    justify-content: center;
}

/* Обо мне */

.about {
    padding-block: 150px;
}

.about_heading {
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    color: #131313;
    padding-bottom: 20px;
}

.about_content {
    display: flex;
    gap: 27px;
    justify-content: space-around;
    flex-direction: row-reverse
}

.about_img {
    width: 465px;
    height: 617px;
    left: 890px;
    top: 956px;
    max-width: 465px;
    margin-left: 44px;
}

.about_text {
    font-weight: 500;
    font-size: 24px;
    line-height: 140%;
    color: #131313;
    max-width: 497px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about_text p {
    padding-block: 10px;
}

/* Навыки */

.skills {
    background-image: url(img/skills.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    position: relative;
}

.skills_heading {
    font-size: 40px;
    line-height: 48px;
    font-weight: 500;
    color: #131313;
    padding-bottom: 40px;
    padding-top: 150px;
    display: flex;
    justify-content: center;
}

.skills_content {
    padding-top: 40px;
    padding-bottom: 150px;
    display: flex;
    gap: 40px;
    align-content: space-between;
    justify-content: center;
}

.skills_img {
    width: 114px;
}

/* Мои работы */

.heading_projects {
    font-size: 40px;
    line-height: 48px;
    font-weight: 500;
    color: #131313;
    padding-bottom: 40px;
    padding-top: 150px;
    display: flex;
    justify-content: center;
}

.projects_slider {
    padding-top: 60px;
    padding-bottom: 150px;
}

.projects_img {
    width: 1090px;
    height: 586px;
}

/* Контакты */

.contacts {
    background: #ececec;
}

.heading_contacts {
    font-size: 40px;
    line-height: 48px;
    font-weight: 500;
    color: #131313;
    padding-bottom: 40px;
    padding-top: 150px;
    display: flex;
    justify-content: center;
}

.contacts_link {
    font-weight: 500;
    font-size: 24px;
    line-height: 140%;
    color: #131313;
    text-decoration: none;
}

.contacts_info {
    display: flex;
    gap: 12px;
    flex-direction: column;
    align-items: center;
    padding-bottom: 70px;
}

.contacts_link:hover {
    color: #ff3c3c;
}

/* Футер */

.footer {
    background: #CACACA;
    display: flex;
    gap: px;
    justify-content: center;
    align-items: center;
    min-height: 90px;
}

.footer_icon {
    fill: #ffffff;
}

.footer_icon:hover {
    fill: #ff5c3c;
}